.features-ul
	.container
		%ul
			%li 
				.features-icon
					= image_tag "frontend/busca"
				%h2 
					Busca entre las categorías y encuentra lo que estás buscando
			%li 
				.features-icon
					= image_tag "frontend/me-gusta"
				%h2 
					Elige tus sitios favoritos
			%li 
				.features-icon
					= image_tag "frontend/comentarios"
				%h2 
					Deja tus comentarios, opiniones y sugerencias
			%li 
				.features-icon
					= image_tag "frontend/compartir"
				%h2 
					Comparte con los demás la experiencia de conocer Paraguaná.
.features-line