.container
	.front-logo-horizontal
		.row
			.col-lg-9.col-md-9.col-sm-6
				.footer-action
					Descarga y podrás conocer Paraguaná,
					%br 
					lo que puedas hacer, eventos y promociones 
					%br
					para hacer tu estadía, la mejor experiencia.
					%br
					%br
					%p
						¡También conoce más a través de las redes sociales!
			.col-lg-3.col-md-3.col-sm-6
				= link_to "https://play.google.com/store/apps/details?id=xyz.slicegroup.paraguanapp&hl=es", target: "_blank" do
					= image_tag "frontend/google-play.png", class: "footer-google-play"
				.row.footer-social
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						= link_to "https://www.facebook.com/corpotulipa/?pnref=story", target: "_blank" do
							.footer-social-item
								.front-logo-horizontal
									.front-logo-vertical
										.fa.fa-facebook
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						= link_to "https://twitter.com/corpotulipa", target: "_blank" do
							.footer-social-item
								.front-logo-horizontal
									.front-logo-vertical
										.fa.fa-twitter
					.col-lg-4.col-md-4.col-sm-4.col-xs-4
						= link_to "https://www.instagram.com/corpotulipa/", target: "_blank" do
							.footer-social-item
								.front-logo-horizontal
									.front-logo-vertical
										.fa.fa-instagram

	%section#credit
		.front-logo-horizontal
			.front-logo-vertical
				%p
					Paraguanapp es un producto impulsado por 
					%center
						.image-corpotulipa
				%p
					Copyleft © 2016 CORPOTULIPA - RIF: G-20001249-8
				%p
					Se autoriza la reproducción del material original contenido en esta página mencionando la fuente: 
					%a{href: "http://www.corpotulipa.gob.ve"} http://www.corpotulipa.gob.ve

									