.row.download-notice.visible-xs.visible-sm	
	.col-xs-3
		= image_tag "frontend/paraguanapp-icon.png", class: "download-notice-image"
	.col-xs-5
		.download-notice-text
			%b
				Paraguanapp
			%br
			%span
				¡Usa gratis la App!
	.col-xs-4
		%a.pull-right{href:"https://play.google.com/store/apps/details?id=xyz.slicegroup.paraguanapp&hl=es", target: "_blank"}
			Play
.home-caroucel	
	.home-image-1
		.home-indicador.container.hidden-sm.hidden-xs
			.row
				.col-lg-4.col-md-4	
					= image_tag "frontend/templo.png", id: "balniarios"
			.row
				.col-lg-2.col-md-2
					= image_tag "frontend/location.png"
				.col-lg-2.col-md-2
					= image_tag "frontend/like.png"
				.col-lg-8.col-md-8
					%p
						Capilla de Adaure
	.home-image-2
		.home-indicador.container.hidden-sm.hidden-xs
			.row
				.col-lg-4.col-md-4	
					= image_tag "frontend/balniarios.png", id: "balniarios"
			.row
				.col-lg-2.col-md-2
					= image_tag "frontend/location.png"
				.col-lg-2.col-md-2
					= image_tag "frontend/like.png"
				.col-lg-8.col-md-8
					%p
						Villa Marina
	.home-image-3
		.home-indicador.container.hidden-sm.hidden-xs
			.row
				.col-lg-4.col-md-4	
					= image_tag "frontend/cerro.png", id: "balniarios"
			.row
				.col-lg-2.col-md-2
					= image_tag "frontend/location.png"
				.col-lg-2.col-md-2
					= image_tag "frontend/like.png"
				.col-lg-8.col-md-8
					%p
						Cerro Santa Ana
						
.home-line
.home-download
	.container
		.row
			.col-lg-6.col-xs-12
				%h1
					Descarga y conoce lo que tiene Paraguaná para ti
			.col-lg-6.col.-xs-12
				.home-google-play
					= link_to "https://play.google.com/store/apps/details?id=xyz.slicegroup.paraguanapp&hl=es", target: "_blank" do
						= image_tag "frontend/google-play.png"

:javascript
	$('.home-caroucel').slick({
	  dots: false,
	  infinite: true,
	  autoplay: true,
	  speed: 500,
	  fade: true,
	  cssEase: 'linear',
	  arrows: false,
	  autoplaySpeed: 3000,
	});