.phone-image.hidden-sm.hidden-xs
	.phone-screen-1
	.phone-screen-2
	.phone-screen-3

.phone-image-xs.visible-sm.visible-xs
	.home-google-play
		= link_to "#", target: "_blank" do
			= image_tag "frontend/google-play.png"

.phone-action
	%h1
		Descarga y conoce lo que tiene Paraguaná para ti
	.home-google-play
		= link_to "#", target: "_blank" do
			= image_tag "frontend/google-play.png"