.place-action
	.front-logo-horizontal
		.front-logo-vertical
			.place-box
				.place-box-icon
					= image_tag "frontend/place"
				%p
					¿Necesitas llegar a un lugar en específico? 
					%br 
					Te ayudamos a encontrarlo
.place-line