%section#phone
	= render "phone"
%section#home
	= render "home"
%section#features
	= render "features"
%section#place
	= render "place"
%section#footer
	= render "footer"

//%section#credit-slice
//	.front-logo-horizontal
//		.front-logo-vertical
//			%p
//				Servicios contratados por 
//				= link_to "http://slicegroup.xyz/", target: "_blank" do
//					= image_tag "frontend/slice", class: "credit-slice"