@import "../core/main";
#features{
	.features-ul{
		padding-top: 100px;
		padding-bottom: 100px;
		@media #{$phone-landscape}{
			.container{
				width: 60%;
			}
		}
		ul{
			width: 52%;			
			@media #{$tablet}{
				width: 100%;	
			}
			@media #{$phone}{
				width: 100%;
				padding: 0px;	
			}
			@media #{$phone-landscape}{
				width: 100%;
				padding: 0px;
			}
			li{
				margin-bottom: 60px;
				list-style: none;
				.features-icon{
					float: left;
					margin-right: 20px;
					@media #{$tablet}{
						float: none;
						margin-right: 20px;
					}
					@media #{$phone}{
						float: none;
						margin-right: 20px;
					}
					@media #{$phone-landscape}{
						float: none;
						margin-right: 20px;
					}
				}
				h2{
					font-weight: 100;
					font-family: $font-principal;
					@media #{$tablet}{
						text-align: center;
					}
					@media #{$phone}{
						text-align: center;
						font-size: 20px;
					}
					@media #{$phone-landscape}{
						text-align: center;
						font-size: 20px;
					}
				}
			}
		}
	}
	.features-line{		
		background-image: image-url("frontend/line.png");
		background-position: center;
		background-size: 100% 100%;
		height: 20px;
	}
}