@import "../core/main";
#footer{
	background: #EB7124;
	padding: 100px;
	padding-bottom: 20px;
	@media #{$phone}{
	    padding: 10px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	@media #{$phone-landscape}{
	    padding: 10px;
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.footer-action{
		font-size: 20px;
		font-weight: bold;
		color: white;
		@media #{$tablet}{
		    font-size: 15px;
		}
		@media #{$phone}{
		    font-size: 15px;
		}
		@media #{$phone-landscape}{
		    font-size: 15px;
		    text-align: center;
		}
	}
	.footer-google-play{
		width: 200px;
	}
	.container{
		width: 85%;
		@media #{$desktop}{
			width: 80%;
		}
		@media #{$tablet-landscape}{
		    width: 100%;
		}
		@media #{$tablet}{
		    width: 112%;
		}
		@media #{$phone}{
		    width: 100%;
		    text-align: center;
		}
	}
	.row{
		@media #{$desktop}{
			width: 90%;
		}
		@media #{$phone}{
			width: 100%;
		}	
		@media #{$tablet-landscape}{
		    width: 100%;
		}	
	}
	a, a:hover{
		text-decoration: none;
	}
	.footer-social{
		margin-top: 20px;
		@media #{$phone}{
			margin-top: 30px;
			margin-left: 3px;
		}	
		@media #{$phone-landscape}{
			margin-left: 40px;
		}	
		.footer-social-item{
			border: 2px solid white;
			border-radius: 50%;
			height: 50px;
			width: 50px;
			color: white;
			font-size: 30px;
			opacity: 0.6;
		}
		.footer-social-item:hover{
			opacity: 1;
		}
	}
}

#credit{
	color: white;
	margin-top: 50px;
	box-sizing: border-box;
	@media #{$phone}{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	@media #{$phone}{
		text-align: center;
	}
	p{
		float: left;
		text-align: center;
		letter-spacing: 0;
		margin-bottom: 0;
		@media #{$phone}{
			font-size: 10px;
			float: none;
		}
		a{
			color: white;
			font-weight: bold;
		}	
	}

	.image-corpotulipa {
		background-image: image-url("frontend/corpotulipa.png");
		background-size: cover;
		background-position: center;		
		width: 120px;
	  height: 70px;
	  box-sizing: border-box;
	}	
}

#credit-slice {		
	background: #B55112;	
	color: white;
	height: 50px;
	p {		
		margin-bottom: 0;
		margin-top: 5px;
	}
	.credit-slice{
		width: 60px;
  	height: 35px;
  	float: right;
  	margin-left: 7px;
  	margin-top: -8px;
  	@media #{$phone}{
			float: none;
			margin-top: 0px;
			margin-left: 106px;
		}	
	}
}