@import "../core/main";
html, body, main{
	height: 100%;
	font-family: $font-principal;
}

.front-logo-horizontal{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
	.front-logo-vertical{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		@media #{$phone} {
			.front-logo{
				width: 300px;
			}
		}
		@media #{$phone-landscape} {
			.front-logo{
				width: 300px;
			}
		}
		.front-social{
			margin-top: 30px;
			a, a:hover{						
				color: white;
				font-size: 30px;
			}
		}
		h1{
			color: white
		}
	}
	.front-footer{
		padding: 15px;
		color: white;
		font-size: 18px;
		width: 100%;
		.brand-logo{
			font-family: 'Patua One', cursive;
			position: relative;
			left: 10px;
			font-size: 20px;
			color: #ffffff
		}
	}
}