@import "../core/main";
#home{
	.home-caroucel{
		margin: 0px;
	}
	.home-image-1{
		background-image: image-url("frontend/capilla.png");
		background-position: center;
		background-size: cover;
		height: 530px;
		position: relative;		
		@media #{$phone}{
			height: 450px;
		}
		@media #{$phone-landscape}{
			height: 300px;
		}
	}
	.home-image-2{
		background-image: image-url("frontend/villamarina.png");
		background-position: center;
		background-size: cover;
		height: 530px;
		position: relative;
		@media #{$phone}{
			height: 450px;
		}
		@media #{$phone-landscape}{
			height: 300px;
		}
	}
	.home-image-3{
		background-image: image-url("frontend/cerro-santana.png");
		background-position: center;
		background-size: cover;
		height: 530px;
		position: relative;
		@media #{$phone}{
			height: 450px;
		}
		@media #{$phone-landscape}{
			height: 300px;
		}
	}

	.home-indicador{
		position: absolute;
		bottom: 0;
		margin-left: 8%;
		width: 90%;
		.row{
			width: 30%;
			margin-bottom: 20px;
			@media #{$tablet-landscape}{
				width: 45%;
			}
		}
		p{
			color: white;
			font-size: 25px;
			font-weight: bold;				
			@media #{$desktop}{
				font-size: 25px;
			}
		}
	}

	#balniarios{
		width: 100px;
	}

	.download-notice {
		background: rgba(31, 31, 31, 0.8);
		position: fixed;
		z-index: 999999;
		color: white;
		width: 103%;
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;

		.download-notice-image {
			width: 60px;
			height: 60px;
		}

		.download-notice-text {
			margin-top: 6px;
		}

		span {
			font-size: 12px;
		}

	  a, 
	  a:hover, 
	  a:focus, 
	  a:active {	  	
	    background: #61BB63;    	
    	border: none;
    	color: #1C4C1C;
	    padding: 3px;
	    padding-left: 15px;
    	padding-right: 15px;
	    position: absolute;
	    top: 13px;
	  }
	}

	.home-line{
		background-image: image-url("frontend/line.png");
		background-position: center;
		background-size: 100% 100%;
		height: 20px;
	}
	.home-download{
		padding-top: 20px;
		@media #{$phone-landscape}{
			display: none;
		}
		.row{
			width: 70%;
			@media #{$phone}{
				width: 108%;
			}
			@media #{$tablet}{
				width: 100%;
				margin-top: 50px;
			}
			h1{
				font-size: 31px;
				font-weight: 100;
				font-family: $font-principal;
				width: 440px;
				@media #{$tablet}{
					text-align: center;
					width: 100%;
				}
				@media #{$phone}{
					text-align: center;
					width: 100%;
					font-size: 20px;
				}
			}
			.home-google-play{
				padding-top: 25px;
				img{
					width: 180px;
				}
				@media #{$phone}{
					img{
						display:none;
					}
				}
			}
		}
	}
}
