@import "../core/main";
#phone{
	.phone-image{
		background-image: image-url("frontend/phone-home.png");
		background-size: 100% 100%;
		width: 300px;
		height: 560px;
		position: fixed;
		top: 100px;
		right: 175px;
		z-index: 999999;

		@media #{$desktop}{
			right: 90px;		
		}
		.phone-screen-1{
			background-image: url(/assets/frontend/screen-1.png);
	    background-size: 100% 100%;
	    width: 257px;
	    height: 433px;
	    position: relative;
	    top: 55px;
	    left: 13px;
	    z-index: 1;
		}
		.phone-screen-2{
			background-image: url(/assets/frontend/screen-2.png);
			background-size: 100% 100%;
	    width: 258px;
	    height: 433px;
	    position: relative;
	    top: -378px;
	    left: 12px;
	    z-index: 2;
	    opacity: 0;
		}
		.phone-screen-3{
			background-image: url(/assets/frontend/screen-3.png);
			background-size: 100% 100%;
	    width: 258px;
	    height: 433px;
	    position: relative;
	    top: -811px;
	    left: 12px;
	    z-index: 3;
	    opacity: 0;
		}
	}	
	.phone-image-xs{
		background-image: image-url("frontend/phone-home-xs.png");
		background-size: 100% 100%;
		width: 300px;
		height: 560px;
		z-index: 999999;
		position: absolute;	
		top: 5%;
		left: 30%;	
		@media #{$phone}{
			padding-left: 10px;
			padding-right: 10px;
			width: 250px;
		height: 477px;
		top: 5%;
			left: 10%;	
		}

		@media #{$phone-landscape}{
			padding-left: 10px;
			padding-right: 10px;
			width: 150px;
		height: 300px;
		top: 5%;
			left: 10%;
		}

		.home-google-play{
			display: none;	
			text-align: center;	
			img{
				display:none;
			}
			@media #{$phone}{
				display: block;
				margin-top: 120%;				
				img{
					display:block;
					width: 150px;
				}
			}
		}
	}

	.phone-action{
		display: none;
		@media #{$phone-landscape}{
				display: block;	
				z-index: 999998;
				position: absolute;	
				top: 20%;
				left: 35%;	
				width: 300px;
				text-align: center;
				font-weight: bold;
				h1{
					background: rgba(31, 31, 31, 0.54);
					font-size: 20px;
					padding: 10px;
					padding-left: 29px;
					color: white;					
				}					
				img{	
					width: 150px;
				}
			}
	}
}