@import "../core/main";
#place{
	background-image: image-url("frontend/adicora.png");
	background-position: center;
	background-size: 100% 100%;
	@media #{$tablet}{
		background-size: cover;
	}
	@media #{$phone}{
		background-size: cover;
	}
	@media #{$phone-landscape}{
		background-size: cover;
	}
	.place-action{
		height: 700px;
		@media #{$tablet}{
			height: 400px;
		}
		@media #{$phone}{
			height: 400px;
		}
		@media #{$phone-landscape}{
			height: 310px;
		}
		.place-box{
			background: #028C9E;
			padding: 30px;
			width: 400px;
			margin-right: 555px;
			@media #{$tablet}{
				margin: 0px;
			}
			@media #{$phone}{
				margin: 0px;
				width: 300px;
				text-align: center;
			}
			@media #{$phone-landscape}{
				margin: 0px;
				width: 300px;
				text-align: center;
			}
			.place-box-icon{
				float: left;
				margin-right: 50px;
				@media #{$phone}{
					float: none;
					margin-right: 0px;
				}
				@media #{$phone-landscape}{
					float: none;
					margin-right: 0px;
				}			
				img{
					height: 70px;
				}
			}
			p{				
    			font-size: 16px;
				color: white;
			}
		}
	}
	.place-line{		
		background-image: image-url("frontend/line.png");
		background-position: center;
		background-size: 100% 100%;
		height: 20px;
	}
}